<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">

<link rel="stylesheet" type="text/css" href="styles/common.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
<script src="scripts/app/eos.WorkoutLog.js"></script>

<title>Learning AngularJS | Home</title>

</head>

<body>

<div ng-app="eos.WorkoutLog">

  <header>
    Log a Workout
  </header>

  <div ng-controller="eos.WorkoutController">
    <div>
      <div>
        <input type="text" ng-model="currentMovement.movement" placeholder="Enter a movement" />
      </div>
      <div>
        <input type="text" ng-model="currentMovement.reps" placeholder="Number of reps" />
      <div>
      <div>
        <button ng-click="addMovement(currentMovement)">Add</button>
      <div>
    </div>
    <div ng-repeat="w in movements">
      <div>{{ w.movement }} - {{ w.reps}} reps
    </div>
  </div>

</div>

</body>

</html>
